extends layout

block content
	- var currency = ""
	- if (product.currency === "BRL")
		- currency = "R$"
	- else if (product.currency === "USD")
		- currency = "US$"

	h1 Pagamento realizado com sucesso para
	h2= payment_details.FIRSTNAME + "!"
	p Entraremos em contato com você em breve para combinarmos o procedimento para entrega.

	img.prod_picture(src=product.picture)
	h1#title= product.title
	h2#price= currency+" "+ product.price
	p!= product.description


	a(href='/')
		button Voltar para a lojinha

